
    <article class="article pr oh">
        <div class="blogs pr oh bf">
            <ul class="blogs-list pr oh" *ngIf="blogs.length else elseNoData">
                <li *ngFor="let blog of blogs">
                    <h2><a>{{blog.title}}</a></h2>
                    <p><time>{{blog.createdAt}}</time></p>
                </li>
            </ul>
            <ng-template #elseNoData>
                <div class="nodata pr oh bsb">暂无数据</div>
            </ng-template>
        </div>
    </article>

