<aside class="aside pa oh">
    <div class="personal pr oh bsb bf">
        <div class="information pr oh">
            <div class="portrait pr oh fl"><img src="../assets/images/portrait.jpg"></div>
            <div class="intro pr oh fr">伍旭，2016年<a href="http://www.qztc.edu.cn/">泉州师范大学软件学院</a>毕业。专注Web前端领域工作两年。现居厦门，就职于厦门帝嘉科技有限公司。</div>
        </div>
        <ul class="info-list pr oh ma">
            <li><b>姓 名：</b><p>伍旭</p></li>
            <li><b>邮 箱：</b><p>wxu877754560@163.com</p><p>wxuonline@gmail.com</p></li>
            <li><b>Q Q：</b><p><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=742427802&site=qq&menu=yes">742427802</a></p></li>
        </ul>
    </div>
</aside>
