<div class="wrapper pr oh">
    <header class="header pf oh bf">
        <div class="head pr oh ma df dfaic">
            <div class="head-left pr oh df">
                <p class="logo pr oh">旭日千万峰，临风独舞剑</p>
                <nav class="nav pr oh">
                    <a routerLink="/blogs" routerLinkActive="active">首页</a>
                    <a routerLink="/webs" routerLinkActive="active">前端</a>
                    <a>转载</a>
                    <a>生活</a>
                    <a>关于我</a>
                    <a routerLink="/resume2018" routerLinkActive="active">个人简历</a>
                </nav>
            </div>
            <div class="site-search pr oh">
                <form class="search-form pr oh">
                    <input id="searchInput" maxlength="32" placeholder="站内搜索" class="search-input">
                    <button id="searchBtn" class="search-btn db pr oh"></button>
                </form>
            </div>
        </div>
    </header>
    <div class="main pr oh ma bsb">
        <router-outlet></router-outlet>
        <aside class="aside pa oh">
            <my-personal></my-personal>
        </aside>
    </div>
</div>
