
.article{margin-right: 320px;}
.webs-list{width: 100%;height: auto;}
ul.webs-list li{width: 100%;height: auto;background: #fff;position: relative;overflow: hidden;box-sizing: border-box;border-bottom: solid 1px #e6e6e6;padding: 20px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;cursor: pointer;-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);-webkit-transition: all .3s ease;-moz-transition: all .3s ease;transition: all .3s ease;}
ul.webs-list li:hover{opacity: .8;}
ul.webs-list li h2{width: auto;height: 30px;font-size: 16px;line-height: 30px;float: left;}
ul.webs-list li time{display: block;width: auto;height: 100%;float: right;color: #999;margin-left: 20px;}

